---
import Link from '../components/Link.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Scott Harrison | Senior Fullstack Developer">
	<main class="mx-auto max-w-prose">
		<h1>Scott Harrison</h1>
		<h2>Senior Fullstack Developer</h2>
		<p>Hi there 👋</p>
		<p>I'm a Senior Fullstack JavaScript Developer with over 12 years of commercial experience.</p>
		<p>I currently work for <Link url="https://studiorotate.com/">Studio Rotate</Link> building award winning e-commerce websites such as <Link url="https://biggreenegg.co.uk/">BigBreenEgg.co.uk</Link>, <Link url="https://www.rapha.cc/gb/en/">Rapha.cc</Link> and <Link url="https://www.tracksmith.com/gb">Tracksmith.com</Link>.</p>
	</main>
</Layout>