---
import type { NavPosition } from '../types/types';

interface Props {
    position: NavPosition
}

const { position } = Astro.props;

const classes = [
    position === 'fixed' ? 'fixed top-0' : '',
]
---

<nav class="bg-black text-white w-full font-roboto-slab" class:list={classes}>
    <div class="container mx-auto flex justify-between items-center">
        <slot />
    </div>
</nav>